.map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .leaflet-container {
    height: 100%;
    width: 100%;
  }

  /* Remove the default background, border, and shadow */
.leaflet-popup-content-wrapper {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Hide the default popup tip (arrow) */
.leaflet-popup-tip {
  display: none !important;
}

